*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #cbb9f5;
}
h1{
    background-color: #120238;
    color: #cbb9f5;
    height: 100px;
    font-size: 70px;
    line-height: 100px;
    /* border-radius: 15px; */
    /* width: 600px; */
    /* text-align: center; */
}
.choices{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 100px 0 10px 0px;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    /* opacity: 0.5; */
    background-color: #120238;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scorecard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    letter-spacing: 2px;
}
#user,#comp{
    font-size: 40px;
    font-weight: bolder;
}
.msg-container{
    margin: 50px;
}
#msg{
    background-color: #120238;
    color: #cbb9f5;
    display: inline;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
}